/* Basisstijlen */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.logo {
    width: 200px; /* Pas aan naar de gewenste breedte */
    height: auto;
    margin: 10px; /* Voeg wat ruimte toe rondom het logo */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Stijlen voor de knoppen */
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ff006c;
    color: #fff;
    border: none;
    border-radius: 20px; /* Afgeronde hoeken */
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #FF3389; /* Kleur bij hover */
}

.title {
    text-align: center;
}

.title-container {
    text-align: center;
    padding: 20px 0;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button {
    margin: 0 5px; /* Voeg een beetje ruimte tussen de knoppen toe */
}

.story p {
    max-width: 100%;
    margin: 0 auto;
    word-break: break-word;
    padding-bottom: 20px; /* Voeg wat ruimte toe onder de inhoud */
}

.author-source {
    margin-top: 5px; /* Pas deze waarde aan of verwijder deze regel */
    font-size: 14px;
    color: #888;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px; /* Voeg een beetje ruimte boven de auteur en bron toe */
}

/* Mediaquery voor responsive design van de footer */
@media (max-width: 768px) {
    footer {
        margin: 0; /* Verwijder de zijmarge op kleinere schermen */
    }
}

footer {
    background-color: #f5f5f5;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    color: #888;
    flex-shrink: 0;
    margin: 0 10px; /* Voeg een zijmarge toe */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}
